<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="{{ htmlMetaTagDescription }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ htmlTagTitle }}</title>
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/png" href="./static/assets/favicon.ico" />
	<link rel="preload" href="./static/vendors/jquery.min.js" as="script" />
	<link rel="preload" href="./static/vendors/rs6.css" as="style" />
	<script src="./static/vendors/jquery.min.js"></script>
	<link rel="stylesheet" href="./static/vendors/rs6.css" />
	<!-- Plugins CSS -->
	<link rel="stylesheet" href="./static/styles/plugins.css" />
	<!-- Main CSS -->
	<link rel="stylesheet" href="./static/styles/main.css" />
</head>
