{{> partialCommonHeader
		htmlTagTitle=htmlTagTitle
		htmlMetaTagDescription=htmlMetaTagDescription }}

<body class="rlr-body">
<!-- Header -->
<header>{{> partialCommonNavigation}}</header>
<!-- Main Content -->
<main id="rlr-main" class="rlr-main--fixed-top">
	<div class="rlr-section__content--lg-top">
		<section class="rlr-section rlr-section__mt rlr-account">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 offset-lg-4">
						<div class="rlr-authforms">
							<div class="rlr-authforms__header">
								<img src="./static/assets/images/logos/Logomark.svg" alt="Logo" />
								<h2>Check your email</h2>
								<p>We sent a verification link to
									<a href="mailto:sanjeev@waituk.com">sanjeev@railar.com</a></p>
							</div>
							<div class="rlr-authforms__form">
								<button type="button" class="btn mb-3 rlr-button rlr-button--fullwidth rlr-button--primary">
									Enter code manually
								</button>
							</div>
							<div class="rlr-authforms__back">
								<a href="account-pages--login"><img src="./static/assets/images/back-arrow.png" alt="back arrow" />
									Back to log in</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</main>
<!-- Footer -->
{{>partialCommonFooter}}
</body>
</html>
