{{> partialCommonHeader
		htmlTagTitle=htmlTagTitle
		htmlMetaTagDescription=htmlMetaTagDescription }}

<body class="rlr-body">
<!-- Header -->
<header>{{> partialCommonNavigation}}</header>
<!-- Main Content -->
<main id="rlr-main" class="rlr-main--fixed-top">
	<!-- Header banner -->
	<section class="rlr-section">
		<div class="rlr-cta rlr-cta--no-button">
			<h2>Icon Fonts</h2>
			<p>Copy and paste the icon name to use</p>
		</div>
	</section>
	<div class="rlr-icon-font-page rlr-section rlr-section__mt">
		<div class="container">
			<ul class="rlr-icon-font-page__list">
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-eiffel-tower"> </i>
					<span class="rlr-icon-text__card-title">flaticon-eiffel-tower </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-destination-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-destination-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-bus"> </i>
					<span class="rlr-icon-text__card-title">flaticon-bus </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-luggage"> </i>
					<span class="rlr-icon-text__card-title">flaticon-luggage </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-ticket"> </i>
					<span class="rlr-icon-text__card-title">flaticon-ticket </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-dinner"> </i>
					<span class="rlr-icon-text__card-title">flaticon-dinner </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-bag"> </i>
					<span class="rlr-icon-text__card-title">flaticon-bag </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-ball"> </i>
					<span class="rlr-icon-text__card-title">flaticon-ball </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-trailer"> </i>
					<span class="rlr-icon-text__card-title">flaticon-trailer </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-cable-car"> </i>
					<span class="rlr-icon-text__card-title">flaticon-cable-car </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-air-balloon"> </i>
					<span class="rlr-icon-text__card-title">flaticon-air-balloon </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-canoe"> </i>
					<span class="rlr-icon-text__card-title">flaticon-canoe </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-dish"> </i>
					<span class="rlr-icon-text__card-title">flaticon-dish </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-bag-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-bag-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-tourism"> </i>
					<span class="rlr-icon-text__card-title">flaticon-tourism </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-beach-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-beach-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-boat"> </i>
					<span class="rlr-icon-text__card-title">flaticon-boat </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-deck"> </i>
					<span class="rlr-icon-text__card-title">flaticon-deck </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-ice-cream"> </i>
					<span class="rlr-icon-text__card-title">flaticon-ice-cream </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-car"> </i>
					<span class="rlr-icon-text__card-title">flaticon-car </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-protection"> </i>
					<span class="rlr-icon-text__card-title">flaticon-protection </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-coconut"> </i>
					<span class="rlr-icon-text__card-title">flaticon-coconut </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-swimming"> </i>
					<span class="rlr-icon-text__card-title">flaticon-swimming </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-pisa-tower"> </i>
					<span class="rlr-icon-text__card-title">flaticon-pisa-tower </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-room"> </i>
					<span class="rlr-icon-text__card-title">flaticon-room </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-icecream-cone"> </i>
					<span class="rlr-icon-text__card-title">flaticon-icecream-cone </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-luggage-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-luggage-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-rope"> </i>
					<span class="rlr-icon-text__card-title">flaticon-rope </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-travel-insurance"> </i>
					<span class="rlr-icon-text__card-title">flaticon-travel-insurance </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-phone-ringing"> </i>
					<span class="rlr-icon-text__card-title">flaticon-phone-ringing </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-no-smoking"> </i>
					<span class="rlr-icon-text__card-title">flaticon-no-smoking </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-sunny"> </i>
					<span class="rlr-icon-text__card-title">flaticon-sunny </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-sunrise"> </i>
					<span class="rlr-icon-text__card-title">flaticon-sunrise </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-swimming-pool"> </i>
					<span class="rlr-icon-text__card-title">flaticon-swimming-pool </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-traveling"> </i>
					<span class="rlr-icon-text__card-title">flaticon-traveling </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-train"> </i>
					<span class="rlr-icon-text__card-title">flaticon-train </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-umbrella"> </i>
					<span class="rlr-icon-text__card-title">flaticon-umbrella </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-wine"> </i>
					<span class="rlr-icon-text__card-title">flaticon-wine </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-bathtub"> </i>
					<span class="rlr-icon-text__card-title">flaticon-bathtub </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-camera"> </i>
					<span class="rlr-icon-text__card-title">flaticon-camera </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-compass"> </i>
					<span class="rlr-icon-text__card-title">flaticon-compass </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-cycling"> </i>
					<span class="rlr-icon-text__card-title">flaticon-cycling </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-hot-air-balloon"> </i>
					<span class="rlr-icon-text__card-title">flaticon-hot-air-balloon </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-key"> </i>
					<span class="rlr-icon-text__card-title">flaticon-key </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-map"> </i>
					<span class="rlr-icon-text__card-title">flaticon-map </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-mountain"> </i>
					<span class="rlr-icon-text__card-title">flaticon-mountain </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-nature"> </i>
					<span class="rlr-icon-text__card-title">flaticon-nature </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-photo-album"> </i>
					<span class="rlr-icon-text__card-title">flaticon-photo-album </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-shopping"> </i>
					<span class="rlr-icon-text__card-title">flaticon-shopping </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-suitcase"> </i>
					<span class="rlr-icon-text__card-title">flaticon-suitcase </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-surf-board"> </i>
					<span class="rlr-icon-text__card-title">flaticon-surf-board </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-van"> </i>
					<span class="rlr-icon-text__card-title">flaticon-van </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-water-bottle"> </i>
					<span class="rlr-icon-text__card-title">flaticon-water-bottle </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-yacht"> </i>
					<span class="rlr-icon-text__card-title">flaticon-yacht </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-temple"> </i>
					<span class="rlr-icon-text__card-title">flaticon-temple </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-art"> </i>
					<span class="rlr-icon-text__card-title">flaticon-art </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-joker-hat"> </i>
					<span class="rlr-icon-text__card-title">flaticon-joker-hat </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-hall"> </i>
					<span class="rlr-icon-text__card-title">flaticon-hall </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-baking"> </i>
					<span class="rlr-icon-text__card-title">flaticon-baking </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-fireworks"> </i>
					<span class="rlr-icon-text__card-title">flaticon-fireworks </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-history"> </i>
					<span class="rlr-icon-text__card-title">flaticon-history </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-parachute"> </i>
					<span class="rlr-icon-text__card-title">flaticon-parachute </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-jeep"> </i>
					<span class="rlr-icon-text__card-title">flaticon-jeep </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-safari"> </i>
					<span class="rlr-icon-text__card-title">flaticon-safari </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-jeep-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-jeep-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-museum"> </i>
					<span class="rlr-icon-text__card-title">flaticon-museum </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-music-notes"> </i>
					<span class="rlr-icon-text__card-title">flaticon-music-notes </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-pawn"> </i>
					<span class="rlr-icon-text__card-title">flaticon-pawn </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-central-park"> </i>
					<span class="rlr-icon-text__card-title">flaticon-central-park </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-alpine"> </i>
					<span class="rlr-icon-text__card-title">flaticon-alpine </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-ice-skate"> </i>
					<span class="rlr-icon-text__card-title">flaticon-ice-skate </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-bungee"> </i>
					<span class="rlr-icon-text__card-title">flaticon-bungee </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-beach"> </i>
					<span class="rlr-icon-text__card-title">flaticon-beach </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-city-tours"> </i>
					<span class="rlr-icon-text__card-title">flaticon-city-tours </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-hiking"> </i>
					<span class="rlr-icon-text__card-title">flaticon-hiking </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-jungle"> </i>
					<span class="rlr-icon-text__card-title">flaticon-jungle </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-chevron"> </i>
					<span class="rlr-icon-text__card-title">flaticon-chevron </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-left-chevron"> </i>
					<span class="rlr-icon-text__card-title">flaticon-left-chevron </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-down-chevron"> </i>
					<span class="rlr-icon-text__card-title">flaticon-down-chevron </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-up-chevron"> </i>
					<span class="rlr-icon-text__card-title">flaticon-up-chevron </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-map-marker"> </i>
					<span class="rlr-icon-text__card-title">flaticon-map-marker </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-outline-down"> </i>
					<span class="rlr-icon-text__card-title">flaticon-outline-down </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-calendar"> </i>
					<span class="rlr-icon-text__card-title">flaticon-calendar </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-search"> </i>
					<span class="rlr-icon-text__card-title">flaticon-search </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-globe"> </i>
					<span class="rlr-icon-text__card-title">flaticon-globe </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-fast-forward"> </i>
					<span class="rlr-icon-text__card-title">flaticon-fast-forward </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-back-button"> </i>
					<span class="rlr-icon-text__card-title">flaticon-back-button </span></li>
				<li class="rlr-icon-text rlr-icon-text__card">
					<i class="rlr-icon-font flaticon-three-o-clock-clock"> </i> <span class="rlr-icon-text__card-title">flaticon-three-o-clock-clock </span>
				</li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-check"> </i>
					<span class="rlr-icon-text__card-title">flaticon-check </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-email"> </i>
					<span class="rlr-icon-text__card-title">flaticon-email </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-headset"> </i>
					<span class="rlr-icon-text__card-title">flaticon-headset </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-headset-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-headset-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-plus"> </i>
					<span class="rlr-icon-text__card-title">flaticon-plus </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-globe-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-globe-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-right-arrows"> </i>
					<span class="rlr-icon-text__card-title">flaticon-right-arrows </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-left-arrow"> </i>
					<span class="rlr-icon-text__card-title">flaticon-left-arrow </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-copyright"> </i>
					<span class="rlr-icon-text__card-title">flaticon-copyright </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-deals"> </i>
					<span class="rlr-icon-text__card-title">flaticon-deals </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-icon-chopper"> </i>
					<span class="rlr-icon-text__card-title">flaticon-icon-chopper </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-special"> </i>
					<span class="rlr-icon-text__card-title">flaticon-special </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-star-plus"> </i>
					<span class="rlr-icon-text__card-title">flaticon-star-plus </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-timer"> </i>
					<span class="rlr-icon-text__card-title">flaticon-timer </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-star"> </i>
					<span class="rlr-icon-text__card-title">flaticon-star </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-star-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-star-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-gallery"> </i>
					<span class="rlr-icon-text__card-title">flaticon-gallery </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-share-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-share-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-cake"> </i>
					<span class="rlr-icon-text__card-title">flaticon-cake </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-activity-level"> </i>
					<span class="rlr-icon-text__card-title">flaticon-activity-level </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-group-size"> </i>
					<span class="rlr-icon-text__card-title">flaticon-group-size </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-walking"> </i>
					<span class="rlr-icon-text__card-title">flaticon-walking </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-faqs"> </i>
					<span class="rlr-icon-text__card-title">flaticon-faqs </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-inclusions"> </i>
					<span class="rlr-icon-text__card-title">flaticon-inclusions </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-overview"> </i>
					<span class="rlr-icon-text__card-title">flaticon-overview </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-reviews"> </i>
					<span class="rlr-icon-text__card-title">flaticon-reviews </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-like"> </i>
					<span class="rlr-icon-text__card-title">flaticon-like </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-minus"> </i>
					<span class="rlr-icon-text__card-title">flaticon-minus </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-check-rounded"> </i>
					<span class="rlr-icon-text__card-title">flaticon-check-rounded </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-cross-rounded"> </i>
					<span class="rlr-icon-text__card-title">flaticon-cross-rounded </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-facebook"> </i>
					<span class="rlr-icon-text__card-title">flaticon-facebook </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-twitter"> </i>
					<span class="rlr-icon-text__card-title">flaticon-twitter </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-instagram"> </i>
					<span class="rlr-icon-text__card-title">flaticon-instagram </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-email-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-email-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-whatsapp"> </i>
					<span class="rlr-icon-text__card-title">flaticon-whatsapp </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-messenger"> </i>
					<span class="rlr-icon-text__card-title">flaticon-messenger </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-copy"> </i>
					<span class="rlr-icon-text__card-title">flaticon-copy </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-comment-left"> </i>
					<span class="rlr-icon-text__card-title">flaticon-comment-left </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-cancellation"> </i>
					<span class="rlr-icon-text__card-title">flaticon-cancellation </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-plus-filled"> </i>
					<span class="rlr-icon-text__card-title">flaticon-plus-filled </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-minus-filled"> </i>
					<span class="rlr-icon-text__card-title">flaticon-minus-filled </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-cut"> </i>
					<span class="rlr-icon-text__card-title">flaticon-cut </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-full-screen"> </i>
					<span class="rlr-icon-text__card-title">flaticon-full-screen </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-video-camera"> </i>
					<span class="rlr-icon-text__card-title">flaticon-video-camera </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-sliders"> </i>
					<span class="rlr-icon-text__card-title">flaticon-sliders </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-sliders"> </i>
					<span class="rlr-icon-text__card-title">flaticon-sliders </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-sidebar"> </i>
					<span class="rlr-icon-text__card-title">flaticon-sidebar </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-sidebar-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-sidebar-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-dimensions"> </i>
					<span class="rlr-icon-text__card-title">flaticon-dimensions </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-add-user"> </i>
					<span class="rlr-icon-text__card-title">flaticon-add-user </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-user"> </i>
					<span class="rlr-icon-text__card-title">flaticon-user </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-padlock"> </i>
					<span class="rlr-icon-text__card-title">flaticon-padlock </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-verified"> </i>
					<span class="rlr-icon-text__card-title">flaticon-verified </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-dashboard"> </i>
					<span class="rlr-icon-text__card-title">flaticon-dashboard </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-add-list"> </i>
					<span class="rlr-icon-text__card-title">flaticon-add-list </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-feedback"> </i>
					<span class="rlr-icon-text__card-title">flaticon-feedback </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-search-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-search-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card">
					<i class="rlr-icon-font flaticon-phone-receiver-silhouette"> </i>
					<span class="rlr-icon-text__card-title">flaticon-phone-receiver-silhouette </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-menu"> </i>
					<span class="rlr-icon-text__card-title">flaticon-menu </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-menu-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-menu-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-close"> </i>
					<span class="rlr-icon-text__card-title">flaticon-close </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-right"> </i>
					<span class="rlr-icon-text__card-title">flaticon-right </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-left"> </i>
					<span class="rlr-icon-text__card-title">flaticon-left </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-minus-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-minus-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-plus-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-plus-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-up-arrow"> </i>
					<span class="rlr-icon-text__card-title">flaticon-up-arrow </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-down"> </i>
					<span class="rlr-icon-text__card-title">flaticon-down </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-check-mark"> </i>
					<span class="rlr-icon-text__card-title">flaticon-check-mark </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-multiply"> </i>
					<span class="rlr-icon-text__card-title">flaticon-multiply </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-upload"> </i>
					<span class="rlr-icon-text__card-title">flaticon-upload </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-toggle"> </i>
					<span class="rlr-icon-text__card-title">flaticon-toggle </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-toggle-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-toggle-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-menu-2"> </i>
					<span class="rlr-icon-text__card-title">flaticon-menu-2 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-login"> </i>
					<span class="rlr-icon-text__card-title">flaticon-login </span></li>
				<li class="rlr-icon-text rlr-icon-text__card">
					<i class="rlr-icon-font flaticon-credit-cards-payment"> </i>
					<span class="rlr-icon-text__card-title">flaticon-credit-cards-payment </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-destination"> </i>
					<span class="rlr-icon-text__card-title">flaticon-destination </span></li>
				<li class="rlr-icon-text rlr-icon-text__card">
					<i class="rlr-icon-font flaticon-carbon-carbon-for-ibm-dotcom"> </i>
					<span class="rlr-icon-text__card-title">flaticon-carbon-carbon-for-ibm-dotcom </span></li>
				<li class="rlr-icon-text rlr-icon-text__card">
					<i class="rlr-icon-font flaticon-carbon-delivery-parcel"> </i>
					<span class="rlr-icon-text__card-title">flaticon-carbon-delivery-parcel </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-carbon-download"> </i>
					<span class="rlr-icon-text__card-title">flaticon-carbon-download </span></li>
				<li class="rlr-icon-text rlr-icon-text__card">
					<i class="rlr-icon-font flaticon-carbon-earth-southeast-asia-filled"> </i>
					<span class="rlr-icon-text__card-title">flaticon-carbon-earth-southeast-asia-filled </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-carbon-dashboard"> </i>
					<span class="rlr-icon-text__card-title">flaticon-carbon-dashboard </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-carbon-location"> </i>
					<span class="rlr-icon-text__card-title">flaticon-carbon-location </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-carbon-login"> </i>
					<span class="rlr-icon-text__card-title">flaticon-carbon-login </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-carbon-logout"> </i>
					<span class="rlr-icon-text__card-title">flaticon-carbon-logout </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-carbon-money"> </i>
					<span class="rlr-icon-text__card-title">flaticon-carbon-money </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-carbon-tall-man"> </i>
					<span class="rlr-icon-text__card-title">flaticon-carbon-tall-man </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-carbon-user"> </i>
					<span class="rlr-icon-text__card-title">flaticon-carbon-user </span></li>
				<li class="rlr-icon-text rlr-icon-text__card">
					<i class="rlr-icon-font flaticon-carbon-block-storage"> </i>
					<span class="rlr-icon-text__card-title">flaticon-carbon-block-storage </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-carbon-box"> </i>
					<span class="rlr-icon-text__card-title">flaticon-carbon-box </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-carbon-delivery"> </i>
					<span class="rlr-icon-text__card-title">flaticon-carbon-delivery </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-carbon-result"> </i>
					<span class="rlr-icon-text__card-title">flaticon-carbon-result </span></li>
				<li class="rlr-icon-text rlr-icon-text__card">
					<i class="rlr-icon-font flaticon-carbon-shopping-cart"> </i>
					<span class="rlr-icon-text__card-title">flaticon-carbon-shopping-cart </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-carbon-wallet"> </i>
					<span class="rlr-icon-text__card-title">flaticon-carbon-wallet </span></li>
				<li class="rlr-icon-text rlr-icon-text__card">
					<i class="rlr-icon-font flaticon-fluent-hand-left-20-regular"> </i>
					<span class="rlr-icon-text__card-title">flaticon-fluent-hand-left-20-regular </span></li>
				<li class="rlr-icon-text rlr-icon-text__card">
					<i class="rlr-icon-font flaticon-gridicons-cross-circle"> </i>
					<span class="rlr-icon-text__card-title">flaticon-gridicons-cross-circle </span></li>
				<li class="rlr-icon-text rlr-icon-text__card">
					<i class="rlr-icon-font flaticon-ion-hand-right-outline"> </i>
					<span class="rlr-icon-text__card-title">flaticon-ion-hand-right-outline </span></li>
				<li class="rlr-icon-text rlr-icon-text__card">
					<i class="rlr-icon-font flaticon-ph-hand-waving-light-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-ph-hand-waving-light-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card">
					<i class="rlr-icon-font flaticon-ph-hand-waving-light"> </i>
					<span class="rlr-icon-text__card-title">flaticon-ph-hand-waving-light </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-ph-hand-waving"> </i>
					<span class="rlr-icon-text__card-title">flaticon-ph-hand-waving </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-seen"> </i>
					<span class="rlr-icon-text__card-title">flaticon-seen </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-cancel"> </i>
					<span class="rlr-icon-text__card-title">flaticon-cancel </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-checked"> </i>
					<span class="rlr-icon-text__card-title">flaticon-checked </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-cross"> </i>
					<span class="rlr-icon-text__card-title">flaticon-cross </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-check-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-check-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-hotel-bed"> </i>
					<span class="rlr-icon-text__card-title">flaticon-hotel-bed </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-telephone"> </i>
					<span class="rlr-icon-text__card-title">flaticon-telephone </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-information-button"> </i>
					<span class="rlr-icon-text__card-title">flaticon-information-button </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-info"> </i>
					<span class="rlr-icon-text__card-title">flaticon-info </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-support"> </i>
					<span class="rlr-icon-text__card-title">flaticon-support </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-heart"> </i>
					<span class="rlr-icon-text__card-title">flaticon-heart </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-heart-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-heart-1 </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-share"> </i>
					<span class="rlr-icon-text__card-title">flaticon-share </span></li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-play"> </i>
					<span class="rlr-icon-text__card-title">flaticon-play </span></li>
				<li class="rlr-icon-text rlr-icon-text__card">
					<i class="rlr-icon-font flaticon-play-button-arrowhead"> </i>
					<span class="rlr-icon-text__card-title">flaticon-play-button-arrowhead </span></li>
				<li class="rlr-icon-text rlr-icon-text__card">
					<i class="rlr-icon-font flaticon-insert-picture-icon"> </i> <span class="rlr-icon-text__card-title">flaticon-insert-picture-icon </span>
				</li>
				<li class="rlr-icon-text rlr-icon-text__card"><i class="rlr-icon-font flaticon-map-1"> </i>
					<span class="rlr-icon-text__card-title">flaticon-map-1 </span></li>
			</ul>
		</div>
	</div>
</main>
<!-- Footer -->
{{>partialCommonFooter}}
</body>
</html>
