{{> partialCommonHeader
		htmlTagTitle=htmlTagTitle
		htmlMetaTagDescription=htmlMetaTagDescription }}

<body class="rlr-body">
<!-- Main Content -->
<main id="rlr-main" class="rlr-main">
	<header>{{> partialCommonNavigation}}</header>
</main>
<script src="./static/vendors/navx/js/navigation.min.js"></script>
<script src="./static/js/main.js"></script>
<!-- Uncomment Lines below to Start of ChatBot (www.chatbot.com) code -->
<!-- End of ChatBot code -->
</body>
</html>
